/*CSS TP3*/
body{
	font-family: 'Open Sans', sans-serif;
}

.container{
	max-width: 900px;
	margin: auto;
}
nav	{
	height: 50px;
	margin-top: 20px;

}

.NAV-LINKS {
	float: right;
	padding-top: 10px;
	text-decoration: none;
	color:black;
}
 a{
	text-decoration: none;
	color:black;
	padding-right: 10px
}
 a:hover{
	color: grey;
}
.IMG-GUY{
    background-image: url("../IMAGENES/indexbanner-bg3.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    height:500px;
    
}
.PAGE-TITLE p{
    color: white;
    font-size: 8px;
}
.IMG-GUY h2{ 
    font-family: 'Raleway';
    font-size:40px;
    color: white;
    font-weight: bold;
}
.IMG-GUY p{
    font-size: 15px

}
form{
	position: relative;
    bottom: 43px;
}
.search {
	display: inline-block;
    width: 750px;
    height: 75px;
}
.button {
	display: inline-block;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    height: 81px;
    width: 130px;
    position: relative;
    left: -6px;

}


.button:hover  {
    background-color:#fafafa;
    color:#207cca;
} 
.PAGE-TITLE{
	position: relative;
	top: 150px;
}
.PAGE-TITLE p{
	line-height: 30px;
}
.SPEC_ICONS-LIST{
	padding-bottom: 50px;
}
.SPEC_ICONS-LIST, .COLOR-ARTICLE{
	display: inline-block;
	width: 24%;
	text-align: center;
}
.SPEC-ICONS-LIST li article{
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
}
.SPEC-ICONS-LIST li article h3{
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;

}
.SPEC-ICONS-LIST p{
	font-size: 12px;     
    color: grey;

}
.HOSTRO-SUB {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 90px;
      
}
.HOSTRO-SUB h3{
	font-size: 45px;
	font-weight: bolder;
	color: #142e3f;
}
.HOSTRO-SUB p{
	color: grey;
	font-size: 15px;
}
.HOSTRO-SUB img{
    width: 40px;
}
.CELPHONE-ARTICLE{
	text-align: center;
	padding-bottom: 250px;
}
.FIRST-ART,.BIG-CEL,.SECOND-ART{
	display: inline-block;
	width: 32%;
}
.BIG-CEL{
	position: relative;
    top: 160px;
}
.BIG-CEL img{
	width: 90%;
} 

.CELPHONE-ARTICLE h6{
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}
.CELPHONE-ARTICLE p{
	font-size: 12px;     
    color: grey;
 }
.ART-UL1{
 	line-height: 16px;
}

.ART-UL1 li{
 	padding-top: 50px;
 	text-align: right;
}
.ART-UL1 img{
	width: 45px;
	padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 85px;
}
.ART-UL2{
 	line-height: 16px;
}
.ART-UL2 img{
	width: 45px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 85px;
}
.ART-UL2 li{
 	padding-top: 50px;
 	text-align: left;
}


.CEL-ART1 div{
	display: inline-block;
	width: 48%;
}
.CEL-ART2 div{
	display: inline-block;
	width: 48%;
}
.CEL-ART3 div{
	display: inline-block;
	width: 48%;
}
.CEL-ART4 div{
	display: inline-block;
	width: 48%;
}
.CEL-ART5 div{
	display: inline-block;
	width: 48%;
}
.CEL-ART6 div{
	display: inline-block;
	width: 48%;
}

.PRICING-TABLES{
	margin-top: -170px;
	margin-bottom: 100px;
    background-image: url("../IMAGENES/pricing-bg.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    z-index: -1;
    height: 450px;
    text-align: center;
}
.PRICING-TIT{
	text-align: center;
	padding-top: 150px;
}
.PRICING-TIT h3{
	font-size: 45px;
	font-weight: bolder;
	color: #142e3f;
}
.PRICING-TIT p{
	color: grey;
	font-size: 15px;
}
.PRICING-TIT img{
	width: 40px;
}
.PRICE-UNIT-ARTS{

	padding-bottom: 100px;
	margin: auto;
	margin-top: -130px;
	text-align: center;

}
.PRICE-UNIT-ARTS article{
	text-align: center;
    display: inline-block;
    margin:auto;
    width: 21%;
    padding: 10px;
    padding-top: 25px;
    background-color: rgba(255,255,255, 1);
    box-shadow: -1px -2px 6px #888888;
    z-index: 1;
    position: relative;
    bottom: 50px;
}
.PRICE-UNIT-ARTS h5{
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}
.PRICE-UNIT-ARTS h6,.PRICE-UNIT-ARTS p{
    display: inline-block;
    width: 48%;
    font-size:10px;
    line-height: 30px;
}
.PRICE-UNIT-ARTS h3{
    font-size: 45px;
}

.UNIT-ART1 p{
	color: lightblue;
	font-weight: bold;
}

.UNIT-ART2 p{
	color: yellow;
	font-weight: bold;
}

.UNIT-ART3 p{
	color: orange;
	font-weight: bold;
}

.UNIT-ART4 p{
	color: red;
	font-weight: bold;
}
.PRICE-UNIT-ARTS button{
	text-align: center;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    height: 37px;
    width: 181px;
    border-radius: 5px
}
.GB-SPECS{
	text-align: center;
	margin ;auto;	
}
.GB-SPECS p{
	float: right;
}
.HOSTING{
	height: 100px;
	padding-top: 75px;
    background-color:rgb(63, 87, 100);
    margin: auto;
    text-align: center;
}
.HOSTING p{
	display: inline-block;
	width: 125px;
	color: white;
	font-size: 20px;
	position: relative;
	right: 5px;
}
.HOSTING h4{
	padding-left: 10px;
	display: inline-block;
	width: 400px;	
	color: white;
	font-size: 20px;
	
}
.HOSTING h5{
	display: inline-block;
	width: 100px;
	font-weight: bold;
	font-size: 25px;
	color: #207cca;
}
.FOOTER{
	background-color:#142e3f;
	height: 50px;
	padding-top: 30px;
	color: white;
}
.FOOTER h5{
	display: inline-block;
	width: 46%;
	font-size: 10px;
}
.FOOTER article{
	float: right;
}
.FOOTER a{
	text-decoration: none;
	color:white;
	padding-right: 10px
}
.FOOTER a:hover{
	color: grey;
}
@media only screen and (min-width : 1024px) and (max-width: 1080px){
	.NAV-LINKS{
	float: none;
	display: inline-block;
	padding-left: 250px;
	}

	.SPEC_ICONS-LIST, .COLOR-ARTICLE{
	display: inline-block;
	width: 48%;
	text-align: center;
	}
	.SPEC-ICONS-LIST li article{
	padding-left: 5px;
	padding-top: 30px;
	padding-right: 5px;
	box-sizing: border-box;
	}	
	.HOSTRO-SUB img{
		display: none;
	}
	.PRICING-TABLES{
		margin-top: 50px;
		height: 300px;
	}
	.PRICING-TIT img{
		display: none;
		
	}
	.PRICE-UNIT-ARTS{
		padding-top: 150px;
	}
	.PRICE-UNIT-ARTS button{
		width: 300px;
	}
	.PRICE-UNIT-ARTS article{
		display: inline-block;
		width: 40%;
		padding-top: 55px;
	}
	.UNIT-ART3,.UNIT-ART4{
		position: relative;
		top: 30px;
	}
	.FOOTER{
		text-align: center;
		line-height: 25px;
		height: 75px;
	}
	.FOOTER h5{
		display: block;
		width: 100%;
	}
	.FOOTER article{
		float: none;
	}

}

@media only screen and (min-width : 908px) and (max-width: 1024px){


	.NAV-LINKS {
		float: none;
		padding-top: 10px;
		text-decoration: none;
		color:black;
		display: block;
		width: 100%;
	}
	.NAVBAR{
		text-align: center;
		padding-bottom: 50px;
	}
	.NAVBAR img{
		display: block;
		padding-left: 360px;
	}
	.NAVBAR a{
		display: block;
		width: 100%;
		padding:5px;
	}
	.IMG-GUY{
		display: none;
	}
	.PAGE-TITLE{
		display: none;
	}
	form{
		padding-top: 45px;
	}
	.SPEC_ICONS-LIST, .COLOR-ARTICLE{
	display: inline-block;
	width: 48%;
	text-align: center;
	}
	.SPEC-ICONS-LIST li article{
	padding-left: 5px;
	padding-top: 30px;
	padding-right: 5px;
	box-sizing: border-box;
	}
	.HOSTRO-SUB img{
		display: none;
	}	
	.FIRST-ART{
		display: block;
		width: 100%;
	}
	.ART-UL1 img{
		float: left;
		padding: none;
	}
	.ART-UL1 div{
		text-align: left;
    	width: 700px;
    	position: relative;
    	top: 16px;
	}
	.BIG-CEL{
		display: block;
		width: 100%;
	}
	.BIG-CEL img{
		width: 40%;
	}
	.SECOND-ART{
		display: block;
		width: 100%;
		padding-top: 300px;
		padding-left: 80px;
	}
	.SECOND-ART img{
		padding: none;
	}
	.ART-UL2 div{
		position: relative;
		bottom: 18px;
	}
	.PRICING-TABLES{
		margin-top: -169px;
    	margin-bottom: 242px;
    	height: 250px;

	}
	.PRICING-TIT{
		padding-top:70px;
	}
	.PRICING-TIT img{
		display: none;
		height: 300px;
	}
	.PRICE-UNIT-ARTS article{
		display: inline-block;
		width: 40%;
		padding-top: 55px;
	}
	.UNIT-ART3,.UNIT-ART4{
		position: relative;
		top: 30px;
	}
	.FOOTER{
		text-align: center;
		line-height: 25px;
		height: 75px;
	}
	.FOOTER h5{
		display: block;
		width: 100%;
	}
	.FOOTER article{
		float: none;
	}

}

@media only screen and (max-width: 908px){

	.NAV-LINKS {
		float: none;
		padding-top: 10px;
		text-decoration: none;
		color:black;
		display: block;
		width: 100%;
	}
	.NAVBAR{
		text-align: center;
		padding-bottom: 50px;
	}
	.NAVBAR img{
		display: block;
		padding-left: 360px;
	}
	.NAVBAR a{
		display: block;
		width: 100%;
		padding:5px;
	}
	.NAVBAR img{
		padding-left: 355px;
	}

	.IMG-GUY{
		display: none;
	}
	.PAGE-TITLE{
		display: none;
	}
	form{
		padding-top: 45px;
		padding-left: 190px;
	}
	.search {
    	width: 450px;
	}
	.button {
		width: 100px;

	}
	.SPEC_ICONS-LIST, .COLOR-ARTICLE{
	display: inline-block;
	width: 100%;
	text-align: center;
	}
	.COLOR-ARTICLE{
		padding-bottom: 30px;
	}
	.SPEC-ICONS-LIST li article{
	padding-left: 5px;
	padding-top: 30px;
	padding-right: 5px;
	box-sizing: border-box;
	}	
	.HOSTRO-SUB img{
		display: none;
	}	
	.FIRST-ART{
		display: block;
		width: 100%;
	}
	.ART-UL1 img{
		float: left;
		padding: none;
	}
	.ART-UL1 div{
		text-align: left;
    	width: 48%;
    	position: relative;
    	top: 16px;
    	padding-right: 150px;
	}
	.BIG-CEL{
		display: block;
		width: 100%;
	}
	.BIG-CEL img{
		width: 40%;
		   padding-right: 75px;
	}
	.SECOND-ART{
		display: block;
		width: 100%;
		padding-top: 300px;
		padding-left: 80px;
	}
	.SECOND-ART img{
		padding: none;
	}
	.ART-UL2 div{
		position: relative;
		bottom: 18px;
	}
	.PRICING-TABLES{
		margin-top: -169px;
    	margin-bottom: 242px;
    	height: 250px;

	}
	.PRICING-TIT{
		padding-top:70px;
	}
	.PRICING-TIT img{
		display: none;
		height: 300px;
	}
	.PRICE-UNIT-ARTS article{
		display: inline-block;
		width: 40%;
		padding-top: 55px;
	}
	.UNIT-ART3,.UNIT-ART4{
		position: relative;
		top: 30px;
	}
	.FOOTER{
		text-align: center;
		line-height: 25px;
		height: 75px;
	}
	.FOOTER h5{
		display: block;
		width: 100%;
	}
	.FOOTER article{
		float: none;
	}

}