/*CSS*/
body{
    width: 100%;

}

.LOGO img{
    width: 100%;
    padding-top: 10px;
    

}
.LOGO {
    display: inline-block;
    height: 50px;
    width: 150px;
    position: relative;
    left: 300px;
}
nav{
    font-family: sans-serif;
    font-weight: semi-bold 600;
    display: inline-block;
    float: right;
    position: relative;
    right: 350px;
    width: 500px;
    height: 50px;
    text-decoration: none;
    padding-right: 10px;
}
.HOME-LINK{
    position: relative;
    top: 17px;
    left: 380px;
}
.CONTACT-LINK{
     position: relative;
    top: 17px;
    left: 405px;
}

header {
    overflow: auto;
    height: 60px;
    padding-top: 10px;

}
.IMG-GUY{
    background-image: url("../IMAGENES/indexbanner-bg3.jpg");
     background-size:     cover;                      
    background-repeat:   no-repeat;
    width: 100%;
    height: 510px;
}

.TITLE{
    position: relative;
    left: 450px;
    top: 150px;
    color: white;
}
.TITLE h2{ 
    font-family: 'Raleway';
    font-size:50px;
}
.TITLE p{
    font-size: 15px

}
form {
    width:initial;
    position: relative;
    bottom: 85px
    left:315px;
}
.search {
    position: relative;
    left: 290px;
    bottom: 42px;
    width: 1000px;
    height: 75px;
}
.button {
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    height: 36px;
    position: relative;
    bottom: 42px;
    left: 286px;
    height: 81px;
    width: 122px;
}

}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
} 


.SPEC-ICONS-LIST{
    position: relative;
    left: 260px;


}
.SPEC-ICONS-LIST li{
    display: inline-block;
    width: 15%;
    padding: 20px;
    text-align: center;


}
.HOSTRO-SUB{
    height: 200px;
    text-align: center;
    padding-top: 30px;  
}
.HOSTRO-SUB img{
    width: 50px;
}
.CELPHONE-ARTICLE div,img {
    display: inline-block;
    width: 28%;
}
.BIG-CEL{
    width: 255px;
    position: relative;
    left: 260px;
    bottom: 25px;
}
.ICON-CELL-ART h6,p,img{
    display: inline-block;
    z-index: 1;
}
.FIRST-ART-ICONS{
    position: relative;
    bottom: 165px;
    left: 390px;
}
.FIRST-art-ICONS,li{
    padding-bottom: 70px;
}
.FIRST-ART-ICONS img{
    width: 40px
}
.FIRST-ART-ICONS p{
    text-align: right;
}
.SECOND-ART-ICONS{
    position: relative;
    left: 306px;
    bottom: 82px;
}

.SECOND-ART-ICONS img{
    width: 40px;

}

.FIRST-ART-ICONS img,h6{
    display: inline-block;
}
.CEL-ART1{
    position: relative;
    bottom: 28px;
}
.CEL-ART1 h6{
    position: relative;
    top: 28px;
    left: 182px;
}
.CEL-ART1 img{
    position: relative;
    left: 65px;

}
.CEL-ART1 p{
       position: relative;
    top: 30px;
    left: 50px;
}
.CEL-ART2{
    position: relative;
    bottom: 18px;
}
.CEL-ART2 h6{
    position: relative;
    top: 13px;
    left: 179px
}
.CEL-ART2 img{
    position: relative;
    left: 65px;
    bottom: 16px;

}
.CEL-ART2 p{
       position: relative;
    top: 18px;
    left: 50px;
}
.CEL-ART3{
    position: relative;
    bottom: 54px;
}
.CEL-ART3 p{
    position: relative;
    top: 30px;
    left: 50px;
}
.CEL-ART3 h6{
    position: relative;
    top: 29px;
    left: 177px;
}
.CEL-ART3 img{
    position: relative;
    left: 65px;

}
.CEL-ART3 p{
       position: relative;
    top: 30px;
    left: 50px;
}
.CEL-ART4 h6{
    position: relative;
    left: 22px;
    bottom: 13px;
}

.CEL-ART4 p{
    position: relative;
    left: 68px;
    top: ;
    bottom: 18px;

}
.CEL-ART5{
    position: relative;
    top: 8px;
}
.CEL-ART5 h6{
    position: relative;
    top: 35px;
    left: 180px;

}
.CEL-ART5 img{
    position: relative;
    bottom: 50px;
}
.CEL-ART5 h6{
     position: relative;
    left: 22px;
    top: -66px;
}
.CEL-ART5 p{
    position: relative;
    left: 70px;
    top: -70px;
}
.CEL-ART6{
    position: relative;
    bottom: 94px
}
.CEL-ART6 h6{
    position: relative;
    left: 23px;
    bottom: 14px;
}
.CEL-ART6 p{
    position: relative;
    left: 67px;
    bottom: 18px;
}
.PRICING-TABLES{
    background-image: url("../IMAGENES/pricing-bg.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    width: initial;
    height: 400px;
    position: relative;
    bottom: 158px;
}
.PRICING-TIT{
    position: relative;
    top: 120px;
    left: 5px;
}
.PRICING-TIT img{
    width: 50px;
}
.PRICING-TIT,h3,p{
    text-align: center;
}
.PRICE-UNIT-ARTS{
    text-align: center;
}
.PRICE-UNIT-ARTS article{
    display: inline-block;
    width: 15%;
    padding: 15px;
    background-color: rgba(255,255,255, 1) 
}
.PRICE-UNIT-ARTS h6{
    display: inline-block;
    width: 47%
}
.PRICE-UNIT-ARTS h3{
    font-size: 45px;
}
.UNIT-ART1{
    position: relative;
    bottom: 280px;
    right: 40px;
    padding-top: 50px;
}
.UNIT-ART1 h5{
    margin-top: 45px;
}
.GB-SPECS1{
    height: 155px;
    margin: 23px;
    line-height: 40px;
}
.GB-SPECS1 button{
        border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    height: 36px;
    position: relative;
    height: 37px;
    width: 181px;
    border-radius: 5px
}
.UNIT-ART2{
    position: relative;
    bottom: 280px;
    right: 15px;
    padding-top: 50px;
}
.UNIT-ART2 h5{
    margin-top: 45px;
}

.GB-SPECS2{
    height: 155px;
    margin: 23px;
    line-height: 40px;
}
.GB-SPECS2 button{
        border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    height: 36px;
    position: relative;
    height: 37px;
    width: 181px;
    border-radius: 5px
}
.UNIT-ART3{
    position: relative;
    bottom: 280px;
    left: 15px;
    padding-top: 50px;
}
.UNIT-ART3 h5{
    margin-top: 45px;
}
.GB-SPECS3{
    height: 155px;
    margin: 23px;
    line-height: 40px;
}
.GB-SPECS3 button{
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    height: 36px;
    position: relative;
    height: 37px;
    width: 181px;
    border-radius: 5px
}
.UNIT-ART4{
    position: relative;
    bottom: 280px;
    left: 40px;
    padding-top: 50px;
}
.UNIT-ART4 h5{
    margin-top: 45px;
}
.GB-SPECS4{
    height: 155px;
    margin: 23px;
    line-height: 40px;
}
.GB-SPECS4 button{
        border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    height: 36px;
    position: relative;
    height: 37px;
    width: 181px;
    border-radius: 5px
}
.HOSTING{
    position: relative;
    bottom: 230px;
    height: 150px;
    background-color: lightblue;
}
.HOSTING-TIT{
    text-align: center;
    padding-top: 65px;
}
footer{
    padding-top: 30px;
    position: relative;
    bottom: 230px;
    height: 60px;
    background-color: darkblue;

}
footer h5{
    width: 500px;
    display: inline-block;
    
}
footer .NAV-LINKS{
    width: 500px;
    display: inline-block;


}
.NAV-LINKS{
    position: relative;
    left: 850px;
    color: white;
    text-decoration: none;
}
.NAV-LINKS img{
    display: inline-block;

}
.COPYRIGHT{
    position: relative;
    left: 250px;
    color: white;
}
