/*CSS*/
body{
	width: 100%;

}

.LOGO img{
    width: 100%;
    padding-top: 10px;
    

}
.LOGO {
    display: inline-block;
    height: 50px;
    width: 150px;
    position: relative;
    left: 300px;
}
nav{
    display: inline-block;
    float: right;
    position: relative;
    right: 350px;
    width: 500px;
    height: 50px;
}
.HOME-LINK{
    position: relative;
    top: 17px;
    left: 380px;
}
.CONTACT-LINK{
     position: relative;
    top: 17px;
    left: 405px;
}

header {
	overflow: auto;

}
.IMG-GUY{
	background-image: url("../IMAGENES/indexbanner-bg3.jpg");
	 background-size:     cover;                      
    background-repeat:   no-repeat;
    width: 100%;
    height: 510px;
}

.TITLE{
	position: relative;
    left: 450px;
    top: 150px;
    color: white;
}
.TITLE h2{
    font-size:40px;
}
.TITLE p{
    font-size: 15px

}
form {
    width:initial;
    position: relative;
    bottom: 85px
    left:315px;
}
.search {
    position: relative;
    left: 310px;
    bottom: 30px;
    width: 820px;
    height: 55px;
}
.button {
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    height: 36px;
        position: relative;
    bottom: 30px;
    left: 306px;
    height: 61px;
    width: 115px;
}

}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
} 


.SPEC-ICONS-LIST{
    position: relative;
    left: 320px;


}
.SPEC-ICONS-LIST li{
    display: inline-block;
    width: 15%;
}
.HOSTRO-SUB{
    height: 200px;
    text-align: center;
    padding-top: 30px;  
}
.CELPHONE-ARTICLE,div{
    display: inline-block;
    width: 28%;
}
