/*CSS TP3*/
body{
	font-family: 'Open Sans', sans-serif;
}

.container{
	max-width: 900px;
	margin: auto;
}
nav	{
	height: 50px;
	margin-top: 20px;

}

.NAV-LINKS {
	float: right;
	padding-top: 10px;
	text-decoration: none;
	color:black;
}
 a{
	text-decoration: none;
	color:black;
	padding-right: 10px
}
 a:hover{
	color: grey;
}
.IMG-GUY{
    background-image: url("../IMAGENES/indexbanner-bg3.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    height:500px;
    
}
.PAGE-TITLE p{
    color: white;
    font-size: 8px;
}
.IMG-GUY h2{ 
    font-family: 'Raleway';
    font-size:40px;
    color: white;
    font-weight: bold;
}
.IMG-GUY p{
    font-size: 15px

}
form{
	position: relative;
    bottom: 43px;
}
.search {
	display: inline-block;
    width: 750px;
    height: 75px;
}
.button {
	display: inline-block;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    height: 81px;
    width: 130px;
    position: relative;
    left: -6px;

}

}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
} 
.PAGE-TITLE{
	position: relative;
	top: 150px;
}
.PAGE-TITLE p{
	line-height: 30px;
}
.SPEC_ICONS-LIST, .COLOR-ARTICLE{
	display: inline-block;
	width: 24%;
	text-align: center;
}
.SPEC-ICONS-LIST li article{
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
}
.SPEC-ICONS-LIST li article h3{
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;

}
.SPEC-ICONS-LIST p{
	font-size: 12px;     
    color: grey;

}
.HOSTRO-SUB {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
      
}
.HOSTRO-SUB h3{
	font-size: 45px;
	font-weight: bolder;
	color: #142e3f;
}
.HOSTRO-SUB p{
	color: grey;
	font-size: 15px;
}

.HOSTRO-SUB img{
    width: 40px;
}
.CELPHONE-ARTICLE{
	text-align: center;
}
.FIRST-ART-ICONS,.BIG-CEL,.SECOND-ART-ICONS{
	display: inline-block;
	width: 33%;
}
.FIRST-ART-ICONS{
	text-align: right;
	position: relative;
	bottom: 150px;
    right: 50px;
}
.FIRST-ART-ICONS article{
	padding-bottom: 25px;
}
.CELPHONE-ARTICLE h6{
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}
.CELPHONE-ARTICLE p{
	
    font-size: 12px;     
    color: grey;
 } 

 .CEL-ART1 section{     position:
relative;     bottom: 35px;     right: 75px; } 
.CEL-ART2 section{
position: relative;     bottom: 35px;     right: 75px;
 } 
 .CEL-ART3 section{
	position: relative;    
	bottom: 35px;
	right: 75px;
 } 
 .SECOND-ART-ICONS{
text-align: left;     
position: relative;    
bottom: 160px;     
left: 50px;
}
.SECOND-ART-ICONS article{    
 padding-bottom: 25px; 
}
 .CEL-ART4 section{
	position: relative;     
	bottom: 35px;     
	left: 75px; 
} 
.CEL-ART5 section{
	position: relative;
    bottom: 35px;     
    left: 75px; 
} 
.CEL-ART6 section{
	position: relative;
	bottom: 35px;     
	left: 75px; 
}

.PRICING-TABLES{
	position: relative;
	bottom: 10px;
    background-image: url("../IMAGENES/pricing-bg.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    z-index: -1;
    height: 450px;
    position: relative;
    bottom: 100px;
    text-align: center;
}
.PRICING-TIT{
	text-align: center;
	padding-top: 150px;
}
.PRICING-TIT h3{
	font-size: 45px;
	font-weight: bolder;
	color: #142e3f;
}
.PRICING-TIT p{
	color: grey;
	font-size: 15px;
}
.PRICING-TIT img{
	width: 40px;
}
.PRICE-UNIT-ARTS{
	position: relative;
	left: 25px;
	margin: auto;
	width: 900px;
	height: 400px;
}
.PRICE-UNIT-ARTS article{
	text-align: center;
    display: inline-block;
    margin:auto;
    width: 21%;
    padding: 10px;
    padding-top: 25px;
    background-color: rgba(255,255,255, 1);
    box-shadow: -1px -2px 6px #888888;
    z-index: 1;
    position: relative;
    bottom: 200px;
}
.PRICE-UNIT-ARTS h5{
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}
.PRICE-UNIT-ARTS h6,.PRICE-UNIT-ARTS p{
    display: inline-block;
    width: 48%;
    font-size:10px;
    line-height: 30px;
}
.PRICE-UNIT-ARTS h3{
    font-size: 45px;
}
.UNIT-ART1{
	position: relative;
	right: 25px;
}
.UNIT-ART1 p{
	color: lightblue;
	font-weight: bold;
}
.UNIT-ART2{
	position: relative;
	right: 10px;
}
.UNIT-ART2 p{
	color: yellow;
	font-weight: bold;
}
.UNIT-ART3{
	position: relative;
	left: 10px;
}
.UNIT-ART3 p{
	color: orange;
	font-weight: bold;
}
.UNIT-ART4{
	position: relative;
	left: 25px;
}
.UNIT-ART4 p{
	color: red;
	font-weight: bold;
}
.PRICE-UNIT-ARTS button{
	text-align: center;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    height: 37px;
    width: 181px;
    border-radius: 5px
}
.GB-SPECS{
	text-align: center;
	margin ;auto;	
}
.GB-SPECS p{
	float: right;
}
.HOSTING{
	height: 100px;
	padding-top: 75px;
    background-color:rgb(63, 87, 100);
    margin: auto;
    text-align: center;
}
.HOSTING p{
	display: inline-block;
	width: 125px;
	color: white;
	font-size: 20px;
	position: relative;
	right: 5px;
}
.HOSTING h4{
	padding-left: 10px;
	display: inline-block;
	width: 400px;	
	color: white;
	font-size: 20px;
	
}
.HOSTING h5{
	display: inline-block;
	width: 100px;
	font-weight: bold;
	font-size: 25px;
	color: #207cca;
}
.FOOTER{
	background-color:#142e3f;
	height: 50px;
	padding-top: 30px;
	color: white;
}
.FOOTER h5{
	display: inline-block;
	width: 46%;
	font-size: 10px;
}
.FOOTER article{
	float: right;
}
.FOOTER a{
	text-decoration: none;
	color:white;
	padding-right: 10px
}
.FOOTER a:hover{
	color: grey;
}